<!DOCTYPE html>
<html>
  <head>
    <title>Negaigoto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "新規作成", new_wish_path %>
    <%= link_to "一覧", wishes_path%>
    <%= yield %>
  </body>
</html>
